﻿
@{
    ViewBag.Title = "Index";
}


<div ng-controller="dashboard" class="table-responsive" ng-show="waitdisplay">
    <div class="form-horizontal" ng-show="displaydashboard">

        <div class="col-md-4 dashboardbox">
            <div class="text-center">
                <label class="text-center" > Student Details</label>
            </div>
            <div class="row text-center text-danger">
                <span> {{processing}}</span>
            </div>
            <div class="col-sm-6">
                <label class="col-sm-6"><b>From</b></label>
                <input type="date" name="fromdate" ng-model="fromdate" max={{frommaxDate|date:'yyyy-MM-dd'}} >
                <br />
            </div>
            <div class="col-sm-6">
                <label class="col-sm-6"><b>To</b></label>
                <input type="date" name="todate" ng-model="todate"  max={{tomaxDate|date:'yyyy-MM-dd'}}>
            </div>

            <div class="text-right">
                <input type="submit" value="Submit" class="btn btn-default" ng-click="getstudentcounts()">
            </div>

            <div class="row">
                <br />
                <div class="col-xs-12">
                    <table class="lastchattable  text-center" ng-hide="Displaylist">
                        <tr>
                            <th a href="" ng-click="orderByField='Group'; reverseSort = !reverseSort">Group</th>
                            <th a href="" ng-click="orderByField='Count'; reverseSort = !reverseSort">Count</th>
                        </tr>
                        <tr ng-repeat="student in students | filter: searchKeyword | orderBy:orderByField:reverseSort" ng-dblclick="getselect(student, $index)">
                            <td>{{student.group}}</td>
                            <td>{{student.count}}</td>
                        </tr>
                    </table>
                </div>
            </div>


        </div>
  <br />
</div>

    <div class="row" ng-show="!displaydashboard">
        <div class="col-lg-5" >
            <input type="button" class="alert-link" value="Back to list" ng-click="backbuttonclick()" />     
           
        </div>
        <br />
        <div class="col-md-12" style="overflow-y:hidden">
            <table class="lastchattable  text-center" >
                <tr>
                    <!--  select id, name, gender, createdDate, emailaddress, phonenumber, collegeid, universityid from athelete                      -->
                    <th a href="" ng-click="orderByField='id'; reverseSort = !reverseSort">Id</th>
                    <th a href="" ng-click="orderByField='name'; reverseSort = !reverseSort">Name</th>
                    <th a href="" ng-click="orderByField='gender'; reverseSort = !reverseSort">Gender</th>
                    <th a href="" ng-click="orderByField='createdDate'; reverseSort = !reverseSort">Created</th>
                    <th a href="" ng-click="orderByField='emailaddress'; reverseSort = !reverseSort">Email</th>
                    <th a href="" ng-click="orderByField='phonenumber'; reverseSort = !reverseSort">Phone</th>
                    <th a href="" ng-click="orderByField='college'; reverseSort = !reverseSort">College</th>
                    <th a href="" ng-click="orderByField='university'; reverseSort = !reverseSort">University</th>
                </tr>
                <tr ng-repeat="student in studentsdetailslist | filter: searchKeyword | orderBy:orderByField:reverseSort" ng-dblclick="getselectstudent(student)">
                    <td>{{student.Id}}</td>
                    <td>{{student.Name}}</td>
                    <td>{{student.Gender}}</td>
                    <td>{{student.CreatedDate | date }} {{student.createdDate | date: 'hh:mm' }}</td>
                    <td>{{student.Emailaddress}}</td>
                    <td>{{student.Phonenumber}}</td>
                    <td>{{student.College}}</td>
                    <td>{{student.University}}</td>
                </tr>

            </table>

           
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/dashboard")
}