﻿
@{
    ViewBag.Title = "Last Chat";
}

<div ng-controller="lastchat" class="table-responsive" ng-show="waitdisplay">

    <div class="container">
        <div class="row groupheader" style="text-align:right">
            <div class="col-lg-7">
                <div class="col-lg-6">
                    <label class="text-left"> Select Course</label>
                </div>
                <div class="col-lg-6">
                    <select id="lchat_selected" name="lchat_selected" class="form-control dropdown" ng-model="lchat_groupId" ng-change="get_lchat_details()">
                        <option ng-repeat="icagroup in icagroups track by $index" value="{{$index}}"> {{icagroup}}</option>
                    </select>
                </div>
                <!-- <select ng-options="s.LessonName for s in icagroups" id="lchat_selected" name="lchat_selected" class="form-control dropdown" ng-model="lchat_group" ng-change="get_lchat_details()"></select>
         -->
            </div>
            <div class="col-lg-5">
                <input class="bottom-right" type="search" ng-model="searchKeyword" /> search
            </div>
            
        </div>
        <div class="row text-center text-danger">
            <span> {{processing}}</span>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12" style="overflow-y:hidden">
                <table class="lastchattable  text-center" ng-hide="Displaychatlist">
                    <tr>
                        <th a href="" ng-click="orderByField='senderid'; reverseSort = !reverseSort">Sender Id</th>
                        <th a href="" ng-click="orderByField='receiverid'; reverseSort = !reverseSort">Receiver Id</th>
                        <th a href="" ng-click="orderByField='sendertype'; reverseSort = !reverseSort">Sender</th>
                        <th a href="" ng-click="orderByField='receiverType'; reverseSort = !reverseSort">Receiver</th>
                        <th a href="" ng-click="orderByField='date'; reverseSort = !reverseSort">Date</th>
                        <th a href="" ng-click="orderByField='message'; reverseSort = !reverseSort">Message</th>
                        <th a href="" ng-click="orderByField='NoOfDays'; reverseSort = !reverseSort">Days</th>
                    </tr>
                    <tr ng-repeat="lchatmessage in lchatmessages | filter: searchKeyword | orderBy:orderByField:reverseSort" ng-dblclick="getselectchathistory(lchatmessage)">
                        <td>{{lchatmessage.Senderid}}</td>
                        <td>{{lchatmessage.Receiverid}}</td>
                        <td>{{lchatmessage.SenderType}}</td>
                        <td>{{lchatmessage.ReceiverType}}</td>
                        <td>{{lchatmessage.Message_date | date }} {{lchatmessage.Message_date | date: 'hh:mm' }}</td>
                        <td>{{lchatmessage.Message}}</td>
                        <td>{{lchatmessage.NoOfDays}}</td>
                    </tr>
                </table>
                
                <div ng-hide="!Displaychatlist">
                    <div class="row chatheader">
                        <table class="chattable text-center">
                            <tr>
                                <th> </th>
                                <th>Id</th>
                                <th>Type </th>
                                <th>Name</th>
                                <th>Mobile</th>
                                <th>Email</th>
                                <th>Ping</th>
                            </tr>
                            <tr ng-show="is_Prof_Inst">
                                <!-- Id	Comment	StudentId	StudentName	StudentPhone	StudentPhone -->
                                <td></td>
                                <td>{{detailchat.StudentId}}</td>
                                <td>Student</td>
                                <td>{{detailchat.StudentName}}</td>
                                <td>{{detailchat.StudentPhone}}</td>
                                <td>{{detailchat.StudentEmail}}</td>
                                <td><input class="btn-group-vertical" type="button" value="Ping" ng-click="pinguser()" /></td>
                            </tr>

                            <tr>
                                <!-- SenderId	SenderName	SenderEmail	SenderPhone-->
                                <td>Sender</td>
                                <td>{{detailchat.SenderId}}</td>
                                <td>{{detailchat.SenderType}}</td>
                                <td>{{detailchat.SenderName}}</td>
                                <td>{{detailchat.SenderPhone}}</td>
                                <td>{{detailchat.SenderEmail}}</td>
                                <td><input class="btn-group-vertical" type="button" value="Ping" ng-click="pinguser()" /></td>
                            </tr>
                            <tr>
                                <!-- ReceiverId	ReceiverName	ReceiverEmail	ReceiverPhone	SenderId	SenderName	SenderEmail	SenderPhone-->
                                <td>Receiver</td>
                                <td>{{detailchat.ReceiverId}}</td>
                                <td>{{detailchat.ReceiverType}}</td>
                                <td>{{detailchat.ReceiverName}}</td>
                                <td>{{detailchat.ReceiverPhone}}</td>
                                <td>{{detailchat.ReceiverEmail}}</td>
                                <td><input class="btn-group-vertical" type="button" value="Ping" ng-click="pinguser()" /></td>
                            </tr>
                        </table>


                    </div>

                    <table class="chattable text-center">
                        <tr>
                            <th>Sender Id</th>
                            <th>Receiver Id</th>
                            <th>Sender</th>
                            <th>Receiver</th>
                            <th>Message</th>
                            <th>Date</th>
                            <th>Days</th>
                        </tr>
                        <tr ng-repeat="chatmessage in detailchat.ChatHistory">
                            <!-- | orderBy:chatmessage.Message_date | date: true "> -->
                            <td>{{chatmessage.Senderid}}</td>
                            <td>{{chatmessage.Receiverid}}</td>
                            <td>{{chatmessage.SenderType}}</td>
                            <td>{{chatmessage.ReceiverType}}</td>
                            <td>{{chatmessage.Message}}</td>
                            <td>{{chatmessage.Message_date | date}} {{chatmessage.Message_date | date: 'hh:mm'}}</td>
                            <td>{{chatmessage.NoOfDays}}</td>
                        </tr>
                    </table>
                    <br />
                    <input type="button" class="alert-link" value="Back to chat list" ng-click="set_displaychatlist()" />
                </div>

            </div>
        </div>
    </div>

    <!--     id senderid    receiverid sendertype  receiverType date    message senderid    receiverid lastvisiteddate     -->
    <br />

</div>

@section Scripts {
    @Scripts.Render("~/bundles/lastchat")
}