﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.row.groupheader{
    border: 1px solid #999;
    border-radius: 10px;
    padding: 15px 10px;
    border-color: #755b28;
    background-color: #9c9180;
    margin-bottom: 12px;
}

.chatheader {
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    border-color: #755b28;
    /* background-color: #ceb4b4; */
    margin-bottom: 5px;
}

fieldset.for-panel {
	border: 1px solid #999;
	border-radius: 4px;	
	padding:15px 10px;
    border-color: #755b28;
	background-color: #f3dcb5;
	margin-bottom:12px;
}
fieldset.for-panel legend {
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #ba8043;
    font-size: 14px;
    font-weight: bold;
    line-height: 10px;
    margin: inherit;
    padding: 7px;
    width: auto;
	background-color: #f7f7d9;
	margin-bottom: 0;
}

.pendchattable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.pendchattable td, .pendchattable th {
    border: 1px solid #755b28;
    padding: 5px;
    max-width:120px;
    
}

.pendchattable tr:nth-child(even){background-color: #f2f2f2;}

.pendchattable tr:hover {background-color: #76b8de;}

.pendchattable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align:center;
    background-color: #5594d1;
    color: white;
    width:initial;
}


.chattable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
}

.chattable td, .chattable th {
    border: 0px solid #755b28;
    padding: 5px;
    max-width:120px;
    
}

.chattable tr{
    background-color: #d3c2c2;
    max-height:120px;
    
}

.chattable tr:hover {background-color: gray;}

.chattable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align:center;
    background-color: black;
    color: white;
    width:initial;
     border: 1px solid groove;

}


.lastchattable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.lastchattable td, .lastchattable th {
    border: 1px solid #755b28;
    padding: 5px;
    max-width:120px;
}

.lastchattable tr:nth-child(even){background-color: #ddd;}

.lastchattable tr:hover {background-color: #c1b2e1;}

.lastchattable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align:center;
    background-color: #776586;
    color: white;
    width:initial;
}


.navbar, .navbar-inverse, .navbar-fixed-top, .navbar-ica {
    background-color: #755b28;
    color:aqua;
    
}

.label-userprimary, .label-value{
    color:brown;
    padding-top: 8px;
    text-align:left;
}

.dashboardbox {
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    border-color: #755b28;
    background-color: #9390af; 
    margin-bottom: 5px;
}
