﻿
@{
    ViewBag.Title = "Students List";
}

<div ng-controller="studentlist" class="table-responsive" ng-show="waitdisplay">

    <div class="container">
        <div class="row groupheader" style="text-align:right">
            <div class="col-lg-7">
                <div class="col-lg-6">
                    <label class="text-left"> Select Course</label>
                </div>
                <div class="col-lg-6">
                    <select id="lchat_selected" name="lchat_selected" class="form-control dropdown" ng-model="select_groupId" ng-change="get_studentlist()">
                        <option ng-repeat="icagroup in icagroups track by $index" value="{{$index}}"> {{icagroup}}</option>
                    </select>
                </div>
                <!-- <select ng-options="s.LessonName for s in icagroups" id="lchat_selected" name="lchat_selected" class="form-control dropdown" ng-model="lchat_group" ng-change="get_lchat_details()"></select>
                -->
            </div>
            <div class="col-lg-5" ng-hide="Displaylist">
                <input class="bottom-right" type="search" ng-model="searchKeyword" /> search
            </div>

        </div>
        <div class="row text-center text-danger">
            <span> {{processing}}</span>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12" style="overflow-y:hidden">
                <table class="lastchattable  text-center" ng-hide="Displaylist">
                    <tr>
                       <!--  select id, name, gender, createdDate, emailaddress, phonenumber, collegeid, universityid from athelete                      -->  
                        <th a href="" ng-click="orderByField='id'; reverseSort = !reverseSort">Id</th>
                        <th a href="" ng-click="orderByField='name'; reverseSort = !reverseSort">Name</th>
                        <th a href="" ng-click="orderByField='gender'; reverseSort = !reverseSort">Gender</th>
                        <th a href="" ng-click="orderByField='createdDate'; reverseSort = !reverseSort">Created</th>
                        <th a href="" ng-click="orderByField='emailaddress'; reverseSort = !reverseSort">Email</th>
                        <th a href="" ng-click="orderByField='phonenumber'; reverseSort = !reverseSort">Phone</th>
                        <th a href="" ng-click="orderByField='college'; reverseSort = !reverseSort">College</th>
                        <th a href="" ng-click="orderByField='university'; reverseSort = !reverseSort">University</th>
                    </tr>
                    <tr ng-repeat="student in studentslist | filter: searchKeyword | orderBy:orderByField:reverseSort" ng-dblclick="getselectstudent(student)">
                        <td>{{student.Id}}</td>
                        <td>{{student.Name}}</td>
                        <td>{{student.Gender}}</td>
                        <td>{{student.CreatedDate | date }} {{student.createdDate | date: 'hh:mm' }}</td>
                        <td>{{student.Emailaddress}}</td>
                        <td>{{student.Phonenumber}}</td>
                        <td>{{student.College}}</td>
                        <td>{{student.University}}</td>
                    </tr>

                </table>

                <div ng-hide="!Displaylist" class="row chatheader">
<!--  id	username	name	gender	createdDate	emailaddress	phonenumber	
    GraduationScore	GRE	Gmat	TOEFL	ielts	pte	statename	countryname	collegename	universityname
                -->    
                    <div class="col-sm-6">
                        <div class="form-horizontal">

                            <div class="form-group">
                                <label class="control-label col-sm-4">Id </label>
                                <div class="col-md-8">
                                    <label class="label-userprimary" ng-bind="student.Id"></label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">User Name</label>
                                <div class="col-md-8">
                                    <label class="label-userprimary" ng-bind="student.Username"></label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Name</label>
                                <div class="col-md-8">
                                    <label class="label-userprimary" ng-bind="student.Name"></label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Gender</label>
                                <div class="col-md-8">
                                    <label class="label-userprimary" ng-bind="student.Gender"></label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Created Date</label>
                                <div class="col-md-8">
                                    <label class="label-userprimary" ng-bind="student.CreatedDate"></label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Email</label>
                                <div class="col-md-8">
                                    <label class="label-userprimary" ng-bind="student.Emailaddress"></label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Phone</label>
                                <div class="col-md-8">
                                    <label class="label-userprimary" ng-bind="student.Phonenumber"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">State</label>
                                <div class="col-md-8">
                                    <label class="label-userprimary" ng-bind="student.State"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Country</label>
                                <div class="col-md-8">
                                    <label class="label-userprimary" ng-bind="student.Country"></label>
                                </div>
                            </div>

                            </div>

                        </div>
                    <div class="col-sm-6">
                        <div class="form-horizontal">

                            <div class="form-group">
                                <label class="control-label col-sm-4">Pic</label>
                                <div class="col-md-8">
                                    <img class="img-thumbnail" width="150" ng-src="{{student.ProfilePicURL}}" />
                                  <!--  <label class="label-userprimary" ng-bind="student.ProfilePicURL"></label>
                                    -->
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Graduation</label>
                                <div class="col-md-8">
                                    <label class="label-userprimary" ng-bind="student.GraduationScore"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">GRE</label>
                                <div class="col-md-8">
                                    <label class="label-userprimary" ng-bind="student.GRE"></label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Gmat</label>
                                <div class="col-md-8">
                                    <label class="label-userprimary" ng-bind="student.GMAT"></label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">TOEFL</label>
                                <div class="col-md-8">
                                    <label class="label-userprimary" ng-bind="student.TOEFL"></label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Ielts</label>
                                <div class="col-md-8">
                                    <label class="label-userprimary" ng-bind="student.IELTS"></label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">College</label>
                                <div class="col-md-8">
                                    <label class="label-userprimary" ng-bind="student.College"></label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">University</label>
                                <div class="col-md-8">
                                    <label class="label-userprimary" ng-bind="student.University"></label>
                                </div>
                            </div>

                        </div>

                    </div>
                    
                   
                </div>
                <br />
                <input type="button" class="alert-link" value="Back to chat list" ng-hide="!Displaylist" ng-click="set_Displaylist()" />
            </div>
        </div>
    </div>

    <!--     id senderid    receiverid sendertype  receiverType date    message senderid    receiverid lastvisiteddate     -->
    <br />

</div>

@section Scripts {
    @Scripts.Render("~/bundles/studentlist")
}