﻿
@{
    ViewBag.Title = "Universities List";
}

<div ng-controller="universitylist" class="table-responsive" ng-show="waitdisplay">

    <div class="container">
        <div class="row groupheader" style="text-align:right">
            <div class="col-lg-7">
                <div class="col-lg-6">
                    <label class="text-left"> Select Course</label>
                </div>
                <div class="col-lg-6">
                    <select id="lchat_selected" name="lchat_selected" class="form-control dropdown" ng-model="select_groupId" ng-change="get_universitylist()">
                        <option ng-repeat="icagroup in icagroups track by $index" value="{{$index}}"> {{icagroup}}</option>
                    </select>
                </div>
                <!-- <select ng-options="s.LessonName for s in icagroups" id="lchat_selected" name="lchat_selected" class="form-control dropdown" ng-model="lchat_group" ng-change="get_lchat_details()"></select>
                -->
            </div>
            <div class="col-lg-5" ng-hide="Displaylist">
                <input class="bottom-right" type="search" ng-model="searchKeyword" /> search
            </div>

        </div>
        <div class="row text-center text-danger">
            <span> {{processing}}</span>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12" style="overflow-y:hidden">
                <table class="lastchattable  text-center" ng-hide="Displaylist">
                    <tr>
<!--  Id	Name	YearOfEstablish	State	cost	AcceptanceRate	Type	TuitionInState	TuitionOutState	TotalStudents
  -->
                        <th a href="" ng-click="orderByField='Id'; reverseSort = !reverseSort">Id</th>
                        <th a href="" ng-click="orderByField='Name'; reverseSort = !reverseSort">Name</th>
                        <th a href="" ng-click="orderByField='YearOfEstablish'; reverseSort = !reverseSort">E Year</th>
                        <th a href="" ng-click="orderByField='Cost'; reverseSort = !reverseSort">Cost</th>
                        <th a href="" ng-click="orderByField='StateName'; reverseSort = !reverseSort">State</th>
                        <th a href="" ng-click="orderByField='AcceptanceRate'; reverseSort = !reverseSort">Accept Rate</th>
                        <th a href="" ng-click="orderByField='Type'; reverseSort = !reverseSort">Type</th>
                        <th a href="" ng-click="orderByField='TuitionInState'; reverseSort = !reverseSort">TinState</th>
                        <th a href="" ng-click="orderByField='TuitionOutState'; reverseSort = !reverseSort">ToutState</th>
                        <th a href="" ng-click="orderByField='TotalStudents'; reverseSort = !reverseSort">Tot Students</th>
                    </tr>
                    <tr ng-repeat="university in universitylist | filter: searchKeyword | orderBy:orderByField:reverseSort" ng-dblclick="getselectuniversity(university)">
                        <td>{{university.Id}}</td>
                        <td>{{university.Name}}</td>
                        <td>{{university.YearOfEstablish}}</td>
                        <td>{{university.Cost}}</td>
                        <td>{{university.StateName}}</td>
                        <td>{{university.AcceptanceRate}}</td>
                        <td>{{university.Type}}</td>
                        <td>{{university.TuitionInState}}</td>
                        <td>{{university.TuitionOutState}}</td>
                        <td>{{university.TotalStudents}}</td>
                    </tr>

                </table>

                <div ng-hide="!Displaylist" class="row chatheader">
                    <!-- //Id	Name	YearOfEstablish	StateName	Cost	AcceptanceRate	Type	TuitionInState	TuitionOutState	TotalStudents	Address	Description	EmailAddress	FacebookId	City		websiteurl	profilepicUrl	mensTeam	womenTeam	phonenumber	scholarshipMen	scholarshipWomen	ApplicationDeadline
                                    -->
                    <div class="col-sm-6">
                        <div class="form-horizontal">

                            <div class="form-group">
                                <label class="control-label col-sm-4">Id</label>
                                <div class="col-md-8">
                                    <label class="label-userprimary" ng-bind="university.Id"></label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Name</label>
                                <div class="col-md-8">
                                    <label class="label-userprimary" ng-bind="university.Name"></label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Establish Year</label>
                                <div class="col-md-8">
                                    <label class="label-userprimary" ng-bind="university.YearOfEstablish"></label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Cost</label>
                                <div class="col-md-8">
                                    <label class="label-userprimary" ng-bind="university.Cost"></label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Acceptance Rate</label>
                                <div class="col-md-8">
                                    <label class="label-userprimary" ng-bind="university.AcceptanceRate"></label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Address</label>
                                <div class="col-md-8">
                                    <label class="label-userprimary" ng-bind="university.Address"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Description</label>
                                <div class="col-md-8">
                                    <label class="label-userprimary" ng-bind="university.Description"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Email</label>
                                <div class="col-md-8">
                                    <label class="label-userprimary" ng-bind="university.EmailAddress"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Phone</label>
                                <div class="col-md-8">
                                    <label class="label-userprimary" ng-bind="university.PhoneNumber"></label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">FacebookId</label>
                                <div class="col-md-8">
                                    <label class="label-userprimary" ng-bind="university.FacebookId"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">State</label>
                                <div class="col-md-8">
                                    <label class="label-userprimary" ng-bind="university.StateName"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">City</label>
                                <div class="col-md-8">
                                    <label class="label-userprimary" ng-bind="university.City"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">zip</label>
                                <div class="col-md-8">
                                    <label class="label-userprimary" ng-bind="university.Zip"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Website url</label>
                                <div class="col-md-8">
                                    <label class="label-userprimary" ng-bind="university.WebsiteURL"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Application Deadline</label>
                                <div class="col-md-8">
                                    <label class="label-userprimary" ng-bind="university.ApplicationDeadline"></label>
                                </div>
                            </div>
                            
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div class="form-horizontal">

                            <div class="form-group">
                                <label class="control-label col-sm-4">Pic</label>
                                <div class="col-md-8">
                                    <img class="img-thumbnail" width="150" ng-src="{{university.ProfilePicURL}}" />
                                    <!--  <label class="label-userprimary" ng-bind="university.ProfilePicURL"></label>
                                      -->
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Mens Team</label>
                                <div class="col-md-8">
                                    <label class="label-userprimary" ng-bind="university.MensTeam"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Women Team</label>
                                <div class="col-md-8">
                                    <label class="label-userprimary" ng-bind="university.WomenTeam"></label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Scholarship Men</label>
                                <div class="col-md-8">
                                    <label class="label-userprimary" ng-bind="university.ScholarshipMen"></label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Scholarship Women</label>
                                <div class="col-md-8">
                                    <label class="label-userprimary" ng-bind="university.ScholarshipWomen"></label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Type</label>
                                <div class="col-md-8">
                                    <label class="label-userprimary" ng-bind="university.Type"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Tuition in State</label>
                                <div class="col-md-8">
                                    <label class="label-userprimary" ng-bind="university.TuitionInState"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Tuition out State</label>
                                <div class="col-md-8">
                                    <label class="label-userprimary" ng-bind="university.TuitionOutState"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">TotalStudents</label>
                                <div class="col-md-8">
                                    <label class="label-userprimary" ng-bind="university.TotalStudents"></label>
                                </div>
                            </div>

                        </div>

                    </div>


                </div>
                <br />
                <input type="button" class="alert-link" value="Back to chat list" ng-hide="!Displaylist" ng-click="set_Displaylist()" />
            </div>
        </div>
    </div>

    <!--     id senderid    receiverid sendertype  receiverType date    message senderid    receiverid lastvisiteddate     -->
    <br />

</div>

@section Scripts {
    @Scripts.Render("~/bundles/universitylist")
}