﻿
@{
    ViewBag.Title = "Login";
}

<h5> Note: Enter admin admin </h5>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div class="form-group">
            <div class="col-md-10">
                <label class="control-label col-md-2"><b>Username</b></label>
                <input class="form-control" type="text" placeholder="Enter Username" name="uname" required>
                <br />
            </div>
            <div class="col-md-10">
                <label class="control-label col-md-2"><b>Password</b></label>
                <input class="form-control" type="password" placeholder="Enter Password" name="pass" required>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-default">
                <span class="psw">Forgot <a href="#"> password?</a></span>
            </div>
        </div>
    </div>
}

